<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= render 'layouts/shim' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
<%= render 'layouts/header' %>
    <main>
      <div class="container">
        <%= render 'layouts/alert' %>
        <%= yield %>
        <%= render 'layouts/debug' if Rails.env.development? %>
      </div>
    </main>
<%= render 'layouts/footer' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
